
.justified-gallery {
    padding: 0px;
}

.wall-item-photo {
  width: 2.6rem;
  height: 2.6rem;
}

.section-subtitle-wrapper {
  background-color: #484848;
}
.section-content-tools-wrapper {
  background-color: #333;
}
.section-content-warning-wrapper {
  color: #856404;
  background-color: #111;
}

/* Personal cloud photo picker */

.section-content-wrapper-np {
  height: 24.0rem;
}
.cloud-modal-container {
  width: 98%;
  height: 98%;
  display: flow-root;
  overflow: auto;
}
.cloud-icon {
  height: 10.0rem;
  padding: .2rem .4rem;
  float: left;
}
.cloud-icon img {
  max-width: 11.0rem;
  max-height: 8.0rem;
}
.cloud-title {
  width: 11.0rem;
  font-size: .75rem;
}

/* BUTTONS */

.btn {
  background-color: #111;
  border-color: #333;
  color: #ccc;
  text-shadow: none;
  box-shadow: none;
}

.btn-success {
  color: #FFF !important;
  background-color: #13a080 !important;
  border-color: #039070 !important;
}

.btn-primary, input#event-submit, input#rmagic-submit-button, input#lostpass-submit-button {
  background-color: #13a090 !important;
  color: #FFF;
}

.btn-close { background-color: #aaa; color:#FFF;}

button.close {
	background-color: #aaa;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #111;
	border-color: #aee;
	color: #fff;
	text-decoration: underline;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
	text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, input#event-submit:hover, input#event-submit:focus, input#rmagic-submit-button:hover, input#rmagic-submit-button:focus, input#lostpass-submit-button:hover, input#lostpass-submit-button:focus {
    border-color: #204D74;
    background-color: #286090;
    color: #FFF;
}

.btn-success:hover, .btn-success:focus {
    color: #FFF !important;
    background-color: #449D44 !important;
    border-color: #398439 !important;
}

.btn-warning {
    color: #FFF !important;
    background-color: #F0AD4E !important;
    border-color: #EEA236 !important;
}

.btn-warning:hover, .btn-warning:focus {
	color: #FFF !important;
	background-color: #EC971F !important;
	border-color: #D58512 !important;
}

.btn-danger, form#chat-destroy > input {
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
	color: #FFF !important;
}
.btn-danger:hover, .btn-danger:focus, form#chat-destroy > input:hover, form#chat-destroy > input:focus {
	color: #FFF !important;
    background-color: #C9302C !important;
    border-color: #AC2925 !important;
}

.btn-group-sm > .btn, .btn-sm {
  padding: .4rem .7rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .5rem;
}


/* Connections */

.directory-item hr, .connections-separator {
  background-color: #0b0b0b;
  border: none;
  margin: 0 auto;
  width: 67%;
  padding: 5px;
}

.section-content-tools-wrapper {
  border-radius: 0px 0px 8px 8px;
}
.section-subtitle-wrapper {
  border-radius: 8px 8px 0px 0px;
}

/* left column */

aside#region_1 {
    width: 18.8rem;
    min-width: 18.8rem;
    max-width: 18.8rem;
    padding: 4.5rem 0px 0px 0px;
}

.thread-separator {
  border-top: 1px solid #aaa;
}

.card {
background-color: #333;
border: 1px solid #333;
border-radius: 8px;
}
.fn {
    font-weight: 600;
    font-size: 1rem;
    color: #6ea;
}

.vcard-card {
  background-color: #222;
}

#profile-photo-wrapper .u-photo {
  width: 17.5rem !important;
  height: 17.5rem !important;
}

#profile-photo-wrapper {
	border: none;
	margin-bottom: 5px;
	width: 17.5rem;
	height: 17.5rem
}

#left_aside_wrapper .col-7 {
  padding-left: .9rem !important;
}

.dropdown-item, .dropdown-divider {
color: #868683;
font-size: 110%;
font-weight: 400 !important;
padding: 0.3rem 1.5rem;
}

nav .dropdown-menu {
color: #ccc;
font-size: 0.9rem;
border-radius: 8px;
background-color: #202020 !important;
}

/* apps menu */
#app-bin {
    color: #868683;
    background-color: #222 !important;
}


/* stream */
.wall-item-content-wrapper.comment {
	background-color: #1c1c1c;
	border-left: 0px solid #666;
	padding: 0px 0px;
	margin: 6px 10px;
	color: #eee;
	border-radius: 12px;
	font-size: -1;
}
.wall-item-content-wrapper {
	border-radius: 12px;
}
.wall-item-comment-wrapper {
    border-top: 0px solid;
	background-color: #1c1c1c;
	padding: 0px 0px;
	margin: 4px 0px 2px;
	border-radius: 8px;

}
.wall-item-comment-wrapper-wc {
    border-top: 0px solid;
	background-color: #1c1c1c;
	padding: 0px 0px;
	margin: 6px 10px;
	border-radius: 12px 12px;
}
.comment-edit-text.expanded {
    line-height: 1.25;
    height: 7rem;
    resize: vertical;
    border-radius: 12px 12px;
}

.hide-comments-outer {
    margin: 0px 14px;
}


.wall-item-head-new {
    border-top: 0.2rem solid #aee;
    }
.hide-comments-outer {
    font-size: 90%;
    background-color: #0b0b0b;
    border-top-color: #ccc;
    border-style: solid;
    border-top-style: dashed;
    border-width: 1px 0px 0px 0px;
    text-align: center;
    border-radius: 0px;
}
			    
.p-2 {
    padding: 0.4rem !important;
    }

.generic-content-wrapper {
	background-color: transparent;
	box-shadow: 0px 0px;
}

textarea, input, select
{
  color: #BBB !important;
  background: #111 !important;
  border-color: #2B2B2B !important;
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
 }

#profile-jot-submit-wrapper {
	border-top: none;
	padding: 10px 0;
}

#jot-title {
	border-radius: 3px;
}

#jot-title-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

#jot-category-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

.bootstrap-tagsinput {
	background: #333;
}

optgroup {
	color: #CCC !important;
}

option {
	color: $link_colour !important;
}

.vcard, #contact-block, .widget {
	background-color: #1a1a1a; /*transparent;*/
	border: none;
	border-bottom: 1px solid #333;
/*	border-radius: 0px;*/
	box-shadow: 0px 0px;
}
.panel {
	border: none;
	box-shadow: 0px 0px;
}

#profile-jot-wrapper {
	border: none;
	box-shadow: 0px 0px;
}

#profile-edit-default-desc {
	background-color: #665029;
	color: #FFF;
	padding: 20px;
}

.photo {
	box-shadow: none;
}

.abook-pending-contact, .abook-permschange {
	background: #402900;
}

.contact-entry-wrapper {
	border: 1px solid #333;
}

#cboxContent a {
	color: #000;
}

#cboxContent {
	color: #111;
}

#adminpage table tr:hover {
    background-color: #222;
}

#colorbox {
	border: 0px solid #1E1E1E;
	background-color: #1E1E1E;
}

.chat-item-text {
	background-color: #222;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #333 !important;
}

.well {
	background-color: #1E1E1E;
	border: 1px solid #222;
	background-image: linear-gradient(to bottom, #1E1E1E 0px, #1E1E1E 100%);
}

.alert-info, .section-content-info-wrapper {
	color: #CCC;
	background-color:#333;
	border-color: #444;
	background-image: linear-gradient(to bottom, #333 0px, #333 100%);
}

.abook-self {
	background-color: #251111;
}

.acl-button-show,
.acl-button-hide {
	color: #fff;
}

#acl-select {
	background-color:#333;
	border: 1px solid #444;
	color: #FFF;
}

#acl-showall {
	color: #FFF;
}


#acl-list {
	border: 1px solid #444;
}

#acl-search-wrapper {
	border-bottom: 1px solid #444;
}

.acl-list-item {
	border: 1px solid #222;
	color: #CCC;
	background-color:#333;
}

.abook-self {
	border: 1px solid #222;
	color: #555;
	background-color:#111;
}

.modal-content,
#notifications_wrapper {
    background-color: #111;
}

.nav-link {
	color:#aee;
}
.nav-link:hover,
.nav-link:focus {
	color:#aee;
}
.nav-pills .nav-link.active {
	background-color: #333;
}

/* HQ messages */
#messages-widget {
	border-color: #333 !important;
}
.messages-timeago {
	font-size: 0.75rem;
}

.nav-tabs .nav-link.active {
	background-color: #333 !important;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.nav-tabs .nav-link {
	border-color: #333 !important;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.list-group-item.active {
	background-color: #444;
	border-color: #333;
	text-decoration: none !important;
}
.list-group-item:hover {
	color: #ccc;
	background-color: #333;
	border-color: #333;
	text-decoration: none !important;
}

/* channel menu */
.dropdown-item.active {
	background-color: #444;
}

.dropdown-header.text-black-50,
.nav-link.active {
	color:#fff !important;
}

a.btn, aside a {
	font-weight: 400 !important;
}


.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n {
	border: 1px solid #222;
	background: #1e1e1e;
}

input {
	border: 2px solid #222;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
}

.nootify-seen a {
	background: #111;
	color: #222 !important;
}

.notify-seen a:hover {
	background: #222;
	color: #ccc !important;
}

nav .dropdown-menu>li>a{
	color: #fff;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #222;
	background-image: none;
}

nav .dropdown-menu .divider{
	background-color: #222;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #222;
	background-image: none;
}

nav .dropdown-menu {
	background-color: #000;
}

#nav-search-text {
	background-color: #999;
}

.autocomplete .selected {
	background: #999;
}

.nav-tabs {
	border-bottom:1px solid #333;
}

.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #111;
	border-color: #333;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	text-decoration: underline;
	background-color: #222;
	color: #ccc;
	border-color: #333;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: underline;
	background-color: #222;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link {
	font-weight: bold;
}


.list-group-item {
	background-color: #222;
	color: #aaa;
}

/* makes notif. heders not taking active color
.list-group-item:hover, 
.list-group-item:focus {
	background-color: #222;
	color: #ccc;
} */



.text-dark {
	color: #aaa !important;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, a.active {
	color: #fff !important;
	text-decoration: underline !important;
}

.generic-content-wrapper-styled {
	background-color: rgba(28,28,28,0.8);
}

.autocomplete {
	background: #222;
}

/* quote and code */

blockquote {
	background-color: #1e1e1e;
	border-left: 0px solid #666;
	padding: 10px 15px;
	margin: 12px 10px 15px;
	color: #eee;
	border-radius: 15px 15px;
	font-size: -1;
}

code {
	background-color: #1e1e1e;
	padding: 5px 10px;
	border-radius: 15px;
	color: #eee;
}

pre {
	background-color: #1e1e1e;
	margin: 8px 10px;
	color: #eee;
	border: 0px;
}

#wiki-content-container code {
	background: #000;
}

.notif-item a {
	color: #ccc;
}

.notif-item a:hover {
	color: #fff;
}

.dropdown-menu {
	background-color: #222;
}

.dropdown-menu >li > a {
	color: #ccc !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    	color: #ddd;
    	background-color: #333;
	background-image: none;
}

.open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-default:focus {
    color: #ccc;
    background-color: #222;
    border-color: #222;
}

.pmenu-item:hover a {
	background-color: #333 !important;
	color: #ddd;
}

.preview {
	background: url('../img/gray_and_black_diagonal_stripes_background_seamless.gif');
}

.xdsoft_datepicker.active {
	color: #222 !important;
	text-decoration: none !important;
}

.xdsoft_datepicker.active:hover, .xdsoft_datepicker.active:focus {
	color: #222 !important;
	text-decoration: underline;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #333;
  }
}

#profile-jot-wrapper {
	background-color: inherit;
	border: none;
}

.nav-tabs.nav-justified {
	background-color: inherit;
	border: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1), .table-hover > tbody > tr:hover {
	background-color: #191919;
}

.table > tbody > tr > td {
	border-color: #888;
}

.help-content {
	border-bottom: #222 thin solid;
}

.help-content-open {
  	-moz-box-shadow: 0px 3px 3px #222;
  	-webkit-box-shadow: 0px 3px 3px #222;
  	box-shadow: 0px 3px 3px #222;
}

.contextual-help-content-open {
	background: $nav_bg;
	border-bottom: #555 1px solid;
	box-shadow: 0px 3px 3px rgba(85,85,85,0.2);
}

.contextual-help-tool {
	opacity: 0.5;
}

.contextual-help-tool:hover {
	opacity: 1;
}

.contextual-help-tool i {
	color: $link_colour;
}


.profile-match-wrapper {
	width: 8rem;
	height: 8rem;
	border: 1px solid #333;
	border-radius: 8px;
}

.profile-match-name {
    	width: 105px;
    	white-space: nowrap;
    	text-overflow: ellipsis;
#	margin: 2px 2px 10px 2px;
}

.widget-nav-pills-icons:hover + a {
	background-color: #222;
}

.widget-nav-pills-checkbox:hover + a {
	background-color: #222;
}


/* category badge fix: */
a.text-dark:focus, a.text-dark:hover {
	color: #ddd !important;
}

.badge-warning {
/*     background-color: #ffc927; */
}
.badge-warning a.text-dark {
    color: #333 !important;
}
.badge-warning a.text-dark:focus, .badge-warning a.text-dark:hover {
    color: red !important;
    text-decoration: none;
}

/* fix color for highlithed text */
span.default-highlight {
	color: #333;
	border-radius: 4px;
}
